/* start styles to first section */
       body{font-family: calibri ;}
        .upperBlock{
            width: :100%;
            height: 600px;
            background: url(../images/ProductBack.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            overflow: auto;
            position: relative;
            
        }
        .innerContainer{
            overflow: auto;
            width: auto;
            height: auto;
            position: absolute;
            top: 55%;
            left: 10%;
        }
        .innerBlock{
           float: left;
            width: auto;
            background: rgba(0,0,0,.5);
            color: #ffffff;
            padding: 5px;
            margin: 5px;
            font-size: 24px;
            border-radius: 5px;
            text-transform: capitalize;
            font-weight: bold;
            cursor: pointer;
        }
        
     /* end  styles to first section*/   

     /* start styles to middle part */
        .blockContainer{
            
            overflow: auto;
            height: auto;
            width: auto;
        }
        .productText{text-align: center;}
        .productText>h4{color: #13a5a8; font-family: Candara;font-weight: bold;}
        .productText>h2{color: #13a5a8;}
        .productText>h4{color: #06938c;}
        .blockDivs{overflow: auto;
            height: auto;
      /*      width: 100%;*/
          /*  padding: 10px 20% !important;*/
        }
        .blockDiv
        {
            background: #3b8c91;
            height: 220px;
            float: left;
         /*   width: 31.3333333%;*/
            margin: 1%;
            padding: 1%;
            height: auto;
        }
.blockDivs>div{float: left;}
        
            .blockDiv>h3,
        .blockDiv>p{
            color: #fff;font-weight: bold;
        }
        .blockDiv>h3{
           
        }
        .blockDiv>p{
            opacity: .93;
        }
        
        .blockDiv >a {
            overflow: auto;
            float: right;
            cursor: pointer;
        }
        .blockDiv >a img{width:40px;}

    /* end styles to middle part */



/* start contact styles */

      .messageContainer{
            background: url(../images/ContactBack.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 650px;
            text-align: center;
          
        }
        .contactText
        {
                FONT-WEIGHT: BOLD;
            COLOR: #FFF;
            letter-spacing: 1px;
        }

        .messageBlock{
            height: auto;
            overflow: auto;
        }
        .messageIcon,.messageContent{
            float: left;
            width:50%;
        }
        .messageIcon{padding: 5%;}
        .messageIcon>img
        {
            height: 378px;
/*            margin-top: 100px;*/
        }
        .messageIcon>h2{
            font-weight: bold;
            font-family: Century Gothic !important; 
            color: #14908f;
            font-size: 42px ;
        }

        .messageContent .formBlock{background: 14908f !important}

        	.contact{
		padding: 4%;
		height: auto;
	}

	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.Mblock8{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
        
        margin-top: 8%;
        background: #14908f;
        color: #fff;
        box-shadow: 5px 5px 6px rgba(0,0,0,.4);
        text-align: left;
	}
	.contact-form span{       
        font-weight: 600;
        font-size: 18px;
        float: left;
        
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
    .form-group{margin-bottom: 0px;}
	.contact-form button:focus{
		box-shadow:none;
	}

    #submitBtn{
        background: url(../images/sendMessageIcon.png);
        background-size: 100% 100%;
        font-size: 24px;
    }

/* end contact styles */
   /* start styles to footer section */


        footer{
            width:100%;
       
            background: url(../images/FooterBack.jpg);
            background-size: 100% 100%;
            color: #fff;
            overflow: auto;
            height: auto;
            
        }
        .leftBar{
            background: rgba(0,0,0,.3);
            width:40%;
            height: 100%;
            padding: 2%;float: left;
        }
        
         .footerIcons{text-align: center;}
         .footerIcons>a{
            width:13%;
        }
         .footerIcons>a>img{
            width:inherit;
            cursor: pointer;
             overflow: auto;
             height: auto;
          
        }
        
        .centerBar{
            padding: 2%;
        }
        .centerBar>div>span{
            display: block;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 2px;
            cursor: pointer;
        
        }
        .branchBlock>*{
               font-family: Century Gothic !important;
        }
        .branchBlock{ 
            background: rgba(0,0,0,.4); 
            padding: 5px;
            border-radius: 5px;
            width: 70%;
            height: auto;
         
        }
        .branchBlock>div{overflow: auto;}
        .branchBlock>div>img{float: left;width:28px;}
        .branchBlock>div>p{float: left;font-size: 12px;font-weight: bold;}
        
        .branchBlock>h3{font-weight: bold;}
                
        .centerBar,.rightBar{
            width:60%;
            float:left;
            padding: 1%;height: auto;
        }
        .requestDemo{        
        background: url(../images/requestDemo.png);
        background-size: 100% 100%;
        float: left;
        width: 155px;
        height: 36px;
        margin-top: 0%;
        font-weight: bold;
        font-family: candara;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        font-family: Century Gothic !important;
        }
        .leftBar>h3,.rightBar >h3{
            font-weight: bold;
            letter-spacing: 1px;
        }
   /* end styles to footer section */



/* start styles to Home page */

        .homeBlock{
            overflow: auto;
            height: 650px;
            background: url(../images/aboutBack.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 3%;
        }
        .homeLeftBar,.homeRightBar{
            width: 40%;
            height: 100%;
            float: left;
            padding-top: 4%;
            padding-left: 2%;
                
        }
        .homeLeftBar{width:60%}
        .homeLeftBar{
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        
        .homeRightBar>h3,
        .homeRightBar>p{
            font-weight: bold;color: #fff;
            
        }
        .homeRightBar>h3{
            font-family: Century Gothic !important; 
            font-size: 36px !important;
        
        }
        .homeRightBar>p{
            font-family:  calibri !important; 
            opacity: .93;
            font-size: 24px;
        }



        .homeConnectedDraw{
            background: url(../images/aboutConnectedDraw.png);
            background-size: 100% 100%;
            height: 2800px;
            overflow: auto;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .rightConnectedBar,.leftConnectedBar,.homeBigIconLEFT,.homeBigIconRIGHT{
            height: 400px;width:50%;padding: 5%;
        }
        .rightConnectedBar>h3,.leftConnectedBar>h3
        {
            color: #1a6363;
            font-weight: bold;
            font-size: 42px;
            font-family: Century Gothic !important; 
            
        }
        .rightConnectedBar>p,.leftConnectedBar>p
        { 
            font-weight: bold;
            font-size: 18px;
            font-family:  calibri !important; 
            color: #399191;
        }
        .rightConnectedBar{
            float: right;clear: both;padding-top: 10%;
        }
        .leftConnectedBar{
            float: left;clear: both;
        }




/* end styles to home page */
/* responsive styles */

     @media only screen 
        and (min-device-width :1600px)
        and (max-device-width : 2200px) 
       /* and (orientation : landscape)*/ {
            .innerBlock {font-size: 32px !important;clear: both;}
        }

     @media only screen 
        and (min-device-width :320px)
        and (max-device-width : 992px) 
       /* and (orientation : landscape)*/ {
            .innerBlock {font-size: 18px !important;clear: both;}
            .upperBlock{
            background: url(../images/ProductBackMobil.jpg);
            background-repeat: no-repeat;
                background-size: 100% 100% ;
        }
           .leftBar,.centerBar,.rightBar{
               width:100% !important;
           }
           
           .leftBar>h3, .rightBar >h3 ,.branchBlock>h3{
               font-size: 1.2rem;
}
           .branchBlock{
             margin-right: 0px !important ;width: 50% !important;
           }
           .branchSaudi{
               width: 100% !important;
           }
           .centerBar>div>h2,.leftBar>h2{
               font-size: 1.5rem !important;
           }
}



     @media only screen 
        and (min-device-width :992px)
         and (max-device-width : 1200px) {

        .Mblock8 {margin-top: 10%;}
        .messageContainer{height: auto;}
        .messageIcon>h2 {padding-top: 36px;
        }
}
     @media only screen 
        and (min-device-width :600px)
         and (max-device-width : 800px) {
        .Mblock8 {
            margin-top: 15% !important;
        }
        }
     @media only screen 
        and (min-device-width :300px)
         and (max-device-width : 600px) {
       .messageIcon, .messageContent {width: 100%;}
        .messageContainer{
            overflow: auto;
            height: auto;
        }
        .contactText{font-size: 3rem !important;}     
        .messageIcon>h2 {
            padding-top: 80px;
        }
        .messageIcon>img {height: 315px;}}
    @media only screen 
        and (min-device-width :2000px)
         and (max-device-width : 2600px) {

             .Mblock8 {margin-top: 4% !important;}}





/* RESPONSIVE HOME STYLES */


   @media only screen 
        and (min-device-width :300px)
         and (max-device-width : 1200px) {
        .homeConnectedDraw{background: none !important;}
        .rightConnectedBar, .leftConnectedBar{clear: none;}
        .homeBigIconLEFT,.homeBigIconRIGHT{display: block !important;}
        .rightConnectedBar,.leftConnectedBar,.homeBigIconLEFT,.homeBigIconRIGHT{padding-top: 3%;}            
}
   @media only screen 
        and (min-device-width :300px)
         and (max-device-width : 900px) {

        .rightConnectedBar>h3, .leftConnectedBar>h3 {
            font-size: 32px;
        }
}
     
   @media only screen 
        and (min-device-width :300px)
         and (max-device-width : 600px) {
             .rightConnectedBar, .leftConnectedBar, .homeBigIconLEFT, .homeBigIconRIGHT 
             ,.rightConnectedBar,.homeBigIconLEFT,.homeBigIconRIGHT{
                 width:100% !important;padding: 0px !important;
                 margin: 0px !important;   
}
        .homeConnectedDraw{height: auto;}
        .homeBigIconLEFT, .homeBigIconRIGHT {height: 225px !important;
        }
        .homeBigIconLEFT ,.homeBigIconRIGHT{
            WIDTH:65% !important;
        }
        .homeLeftBar >img{
            background-repeat: no-repeat;
            width: 100%;
            height: 75%;
        }
        .homeRightBar{width: 100%;}
        .homeLeftBar, .homeRightBar{padding: 0px !important;}
        .homeBlock {padding: 0px !important;height: auto !important;}
        .leftBlockimg{display: none !important}
        .leftBlockimgMobil{display: block !important;}
        .homeLeftBar{height: auto;width: auto !important;}
        .homeRightBar{height: auto !important;
              padding: 0% 2% !important;}
}

   @media only screen 
        and (min-device-width :600px)
         and (max-device-width : 1200px) {
        .homeBlock{height: auto;}
        .homeRightBar,.homeLeftBar{width:100% !important;}
    }
   @media only screen 
        and (min-device-width :1200px)
         and (max-device-width : 3500px) {
             .rightConnectedBar {padding-top: 5%;}
    }
/* end responsive home screen */


